* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  transition: 0.1s linear all;

  user-select: var(--primary-color);
}

::selection {
  background-color: aquamarine;
}

/* HTML/jsx element */
header {
  width: 100vw;
  height: 64px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  
    >div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
    box-shadow: 0 0 6px black;
    }
}

main {
  display: flex;
  width: 100%;

  aside {
    display: none;
    flex: 0.3;
      background-color: #0000006e;
    color: white;
    height: calc(100vh - 64px - 39px);
    padding: 10px;

    @media (min-width: 768px) and (orientation: landscape) {
      display: flex;
        flex-direction: column;
      }
      
      div {
        padding: 10px;
        border-radius: 6px;
        background-color: #ffffff4a;
        margin-bottom: 10px;
        cursor: pointer;
      
        a {
          color: aliceblue;
        }
      
        &:hover {
          background-color: #ffffffb3;
      
          a {
            color: #464849;
          }
        }
      
        &.active {
          background-color: #ffffffb3;
      
          a {
            color: #464849;
          }
        }
    }
  }

  >div {
    flex: 1;
  }
}

a {
  text-decoration: none;
  max-width: fit-content;
}

ul {
  padding: var(--primary-padding);

  & li {
    list-style: none;
  }
}

input {
  border: none;
  padding: 10px 15px;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
}
img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
}

/* classes */
.input-container {
  width: 300px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  input,
  button {
    border-radius: 6px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow:
      0px 0px 1px black,
      0px 2px 3px #00000087;
  }
}
.container {
  margin: 10px auto;
  text-align: center;

  @media (min-width: 768px) {
    margin: 10px 10%;
  }

                                                                                                                                                                                                                                                                @media (min-width: 991px) {
    margin: 10px 15%;
  }
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;

  @media (max-width: 767px) {
    width: 170%;
  }
}

.scroller {
  @media (max-width: 767px) {
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  display: none;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  >div {
    margin-right: 10px;
  }

  .button {
    color: white;
    border-radius: 6px;
    background-color: #ffffff4a;
  }
}